button {
    font-size: 20px; 
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    box-shadow: 0px 0px 2px 2px lightgray;
}

#tutorial {
    position: fixed;
    top: 100px;
    left: 200px;
    right: 200px;
    bottom: 100px;
    transform: scale(0);
    border: 1px solid black;
    z-index: 1;
    background-color: white;
    max-width: 80%;
    font-family: Arial, Helvetica, sans-serif;
}

#tutorial.active {
    transform: scale(1);
}

#tutorial-header {
    padding: 10px 15px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

#tutorial-body {
    position: fixed;
    padding: 10px 15px;
    top: 56px;
    bottom: 0px;
    overflow: scroll;
}

#overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#clickqueue {
    right: 10px;
    max-width: 40%;
    position: relative; /* Ensure the element is positioned relative for the animation to work */
    transform: translateX(43px);
    animation: moveRight 0.2s forwards;
}

#inputstatusbox {
    position: fixed;
    right: 0px;
    left: 0px;
    top: 96%;
    bottom: 0px;
    font-size: 25px;
    text-align: right;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

@keyframes moveRight {
    100% {
      transform: translateX(0px);
    }
  }
